h1 {
  color: #ccc;
  weight: 300;
}

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.content img {
  max-width: 100%;
}


/*Parrallax*/

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(../images/bird-bg.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  height: 100px;
  width: 100%;
  background-image: url(../images/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.fore-bird {
  width: 960px;
  height: 733px;
  /*background-color: rgba(203, 141, 185, 0.4);*/
  background-image: url(../images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
}

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(../images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

figure {
  margin: 0;
}

/*Model Grid*/

.clothes-pics figure {
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
}

.clothes-pics .is-showing {
  opacity: 1;
  transform: translateX(0px);

}
